@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    color: #161414;
}

.none {
    display: none !important;
}


.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}

.container--header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/* Header */
.header {
    height: 800px;
    padding-top: 31px;
    padding-bottom: 100px;

    background-color: #000;
    background-image: url('./../img/header/header-bg.jpg');
    background-size: cover;
    background-position: center center;

    border-radius: 0 0 54px 54px;

    color: #fff;

}

.header a {
    color: #fff;
}



.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;

}

.nav-list {
    display: flex;
    column-gap: 54px;
}

.nav-list__item {

    text-transform: capitalize;

}

.nav-list__link {
    color: #fff;
    opacity: 0.6;
}

.nav-list__link--active {
    opacity: 1;
}


.user {
    display: flex;
    column-gap: 8px;
    align-items: center;

}

.user__content {
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    text-align: right;
    color: #FFFFFF;
}

.user__greeting {
    opacity: 0.5;
}

.user__name {
    font-weight: 600;
    opacity: 1;
}

.user__avatar {
    height: 48px;
    width: 48px;
    overflow: hidden;
    position: relative;
    background-position: center center;
}

.user__avatar--img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;

}

.user__avatar:after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;


}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 42px;
}

.header__title {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #fff;

}

.button {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    height: 72px;
    padding: 24px;

    background: #7B61FF;
    border-radius: 12px;

    color: #fff;
    font-weight: 600;
    font-size: 18px;

    transition: all 0.3s ease-out;
    transform: scale(100%);



}

.button:hover {
    position: relative;
    transition: all 0.3s ease-out;
    background: #3B51fF;
    transform: scale(110%);
}

.button-more {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px;
    height: 44px;
    background: #F6F4FF;
    border-radius: 12px;
    color: #5243C2;

    transition: background-color 0.2s ease-in;

}

.button-more:hover {
    background-color: #7B61FF;

    color: #fff;
}


.form {
    width: 100%;
    max-width: 1140px;
    height: 88px;
    padding: 8px;
    border-radius: 12px;
    background: #fff;
    color: #000;
    display: flex;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 16px 56px;
    /* background-color: #dee1f8; */
    background-repeat: no-repeat;
    background-position: 16px 24px;

}

.form__input--location {
    width: 300px;
    background-image: url('./../Img/icons/location.svg');

}

.form__input--activity {
    width: 255px;
    background-image: url('./../Img/icons/activity.svg');

}

.form__input--date {
    width: 255px;
    background-image: url('./../Img/icons/calendar.svg');

}

.form__input--guest {
    width: 255px;
    background-image: url('./../Img/icons/guests.svg');

}



.form__label {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5B5B5B;
}

.form__input {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161414
}

.form__input::placeholder {

    color: #161414
}

.form__select {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161414
}


.button__search {
    position: relative;
    font-size: 0px;
    padding: 18px;
    width: 60px;
    height: 60px;
    background: #7B61FF;
    border-radius: 12px;
    align-self: center;
}

.button__subscribe {
    position: relative;
    font-size: 0px;
    padding: 28px;
    width: 72px;
    height: 72px;
    background: #7B61FF;
    border-radius: 12px;
    align-self: center;
}

.button__search:hover {
    position: relative;
    transition: all 0.3s ease-out;
    background: #3B51fF;
    transform: scale(110%);
}

/* Main */


.main {
    padding: 120px 0 0 0;
    display: grid;
    gap: 120px;
}

.title-1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1, 5;
    color: #161414;

}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.section__card {
    display: grid;
    gap: 32px;
}

.section__card--popular {
    grid-template-columns: repeat(6, 1fr);
}

.section__card--hotels,
.section__card--activity {
    grid-template-columns: repeat(4, 1fr);
}

.section__card--tips {
    grid-template-columns: repeat(2, 1fr);
}

.card {
    position: relative;
}

.card--wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;


}


.card__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.card__image {
    margin-bottom: 8px;
    border-radius: 12px;
}

.card__image--no-margin {
    margin: 0;
}

.card__title {
    font-size: 16px;
    font-weight: 500;
    color: #161414;

}

.card__title--hotels,
.card__title--activity {
    margin-bottom: 12px;
}

.card__image--hotels,
.card__image--activity,
.card__image--tips {
    margin-bottom: 12px;
}

.card__location {
    position: relative;
    color: #979797;
    font-weight: 400;
    font-size: 13px;
    z-index: 2;
}

.card__location:hover {
    color: #7B61FF;
}

.card__location--icons {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-image: url('./../Img/icons/map-pin-line.svg');
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #878787;

}

.card__footer--wide {
    margin-top: auto;
}


.card__rating {
    display: flex;
    align-items: center;
    gap: 2px;
}





.card__desk {
    display: flex;
    flex-direction: column;
    gap: 16px;


}


.card__title-big {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #161414;
}

.card__text {
    font-size: 16px;
    line-height: 32px;
    color: #5B5B5B;
}




.card__footer-link {
    position: relative;
    z-index: 1;
    font-size: 12px;
    line-height: 18px;
    color: #878787;
}

.card__footer-link:hover {
    color: #7B61FF;
}

.card__footer-link--date {
    padding-left: 20px;
    background-repeat: no-repeat;

    background-image: url('./../Img/icons/calendar-gray.svg');
}

.card__footer-link--autor {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-image: url('./../Img/icons/user.svg');
}

.card__footer-link--comments {
    padding-left: 20px;
    background-repeat: no-repeat;

    background-image: url('./../Img/icons/comment.svg');
}


/* Abot Us */
.about-us {
    margin: 0 auto;
    max-width: 1144px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

}

.about-us__desc {
    display: grid;
    align-content: center;
    gap: 32px;
    justify-items: start
}


.about-us__title {
    font-size: 32px;
    font-weight: 600;
}

.about-us__text {
    font-size: 16px;
    line-height: 2;

    color: #5B5B5B;
}


.about-us__img {
    border-radius: 24px;
}


.footer {
    background: #F9F9F9;
    padding: 120px 0;
}


.footer__row {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, auto);
}

.footer__copyrigth {
    max-width: 355px;
    display: grid;
    gap: 16px;
}


.footer__text {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 16px;
    ;

    color: #5B5B5B;
}



.footer__social {
    display: flex;
    gap: 32px;
    align-items: center;
}


/* footer__nav */

.footer__nav-wrapper {
    display: flex;

    gap: 64px;

}

.footer__nav {
    display: grid;
    gap: 20px;
}

.footer__nav-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

}

.footer__nav-list {
    display: grid;
    gap: 12px;

}


.footer__nav-link {
    font-size: 13px;
    line-height: 20px;
    color: #5B5B5B;

}

.footer__nav-link:hover {
    color: #7B61FF;
}

/* subscribe */
.footer__subscribe {
    max-width: 388px;
    ;
}

.footer__subscribe-title {

    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;

}

.subscribe {
    display: grid;
    grid-template-columns: auto auto;

}

.subscribe__input-wrapper {
    position: relative;
}

.subscribe__input {
    padding: 32px 20px 16px 56px;
    width: 300px;
    height: 72px;
    background-color: #fff;
    border-radius: 12px;
    background-image: url("./../Img/icons/email.svg");
    background-repeat: no-repeat;
    background-position: 16px 30px;
    ;


}

.subscribe__label {
    position: absolute;
    top: 30px;
    left: 56px;

    font-size: 14px;
    font-weight: 300px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #5B5B5B;
    transition: all 0.2s ease-in;
    pointer-events: none;
}



.subscribe__input:focus~.subscribe__label,
.subscribe__input:valid~.subscribe__label {
    top: 16px;

}

.subscribe__label-top {
    top: 16px;
}

/* .subscribe__input:invalid~.subscribe__label {
    top: 16px;
    color: red;

} */

/* .subscribe__label {
    
    left: 56px;

} */